{
  "tabWidth": 4,
  "printWidth": 100,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "requirePragma": false
}
